[Unit]
Description=HTTP Server
After=syslog.target network.target

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/python3 -m http.server 10123
Restart=always

[Install]
WantedBy=multi-user.target


